h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}


p, li {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

li {
    line-height: 40px;
}

.titles {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}

#bold {
    font-weight: bolder;
}

#italic {
    font-style: italic;
}