* {
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    padding: 15px;
}

#header-title{
    width: 90%;
    margin: auto;
}

#header-button {
    width: 90%;
    margin: auto;
}

.header-buttons {
    max-width: 30%;
    margin: 10px 30px;
    display: inline-block;
}





body {
    background-color: #000e06;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}


p, li {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    color: #009940;
}

li {
    line-height: 40px;
}

.titles {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    color: white;
}

#bold {
    font-weight: bolder;
}

#italic {
    font-style: italic;
}

.buttons {
    color: #95D5B2;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    padding: 10px;
}

.pics {
    border-radius: 10%;
}


a:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}