.about-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title {
  font-family: Poppins, sans-serif;
  color: white;
  margin: 30px 0;
}

.about-text-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  font-family: Poppins, sans-serif;
  color: white;
  width: 80%;
  font-size: 12px;
  margin: 20px 0;
}

.about-links-stacks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-links-container {
  display: flex;
  width: 150px;
  justify-content: space-around;
  padding: 10px 5px;
  background-color: rgb(117, 117, 117);
  border-radius: 40px;
  margin: 10px 0;
}

.about-links-container img {
  width: 30px;
}

.about-links-container:hover {
  background-color: white;
  animation: blink 0.7s infinite alternate;
}

.about-subtitle {
  color: white;
  font-family: Poppins, sans-serif;
  margin-top: 20px;
}

.about-stacks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 20px 0 30px;
}

.about-stacks-container img {
  width: 30px;
  margin: 10px;
}

.about-box {
  display: flex;
  position: relative;
  height: 200px;
  width: 200px;
  background: black;
  border-radius: 50%;
  overflow: hidden;
}

.about-box::before {
  content: '';
  position: absolute;
  inset: -10px 30px;
  background: linear-gradient(315deg, rgba(255,150,215,1) 0%, rgba(112,13,74,1) 25%, rgba(0,0,0,1) 50%, rgba(45,13,112,1) 75%, rgba(58,159,255,1) 100%);
  transition: 0.3s;
  animation: animate 4s linear infinite;
}

.about-box:hover::before {
  inset: -20px 0px;
}

.about-box::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: black;
  border-radius: 50%;
  z-index: 1;
}

.about-box-content {
  position: absolute;
  inset: 20px;
  border: 3px solid rgba(112, 13, 74);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  100% {
    box-shadow: 0 0 4px rgb(255,150,215), 0 0 10px rgb(112,13,74), 0 0 20px rgb(45,13,112), 0 0 30px rgb(58,159,255);
  }
}

@media screen and ( min-width: 800px ) {
  .about-container {
    justify-content: space-between;
  }

  .about-title {
    font-size: 35px;
  }

  .about-subtitle {
    font-size: 25px;
  }

  .about-text-image-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .about-box {
    width: 250px;
    height: 250px;
  }

  .about-text {
    width: 50%;
    font-size: 17px;
  }
}

@media screen and ( min-width: 1080px ) {
  .about-box {
    width: 350px;
    height: 350px;
  }

  .about-title {
    font-size: 40px;
  }

  .about-subtitle {
    font-size: 30px;
  }

  .about-text {
    width: 50%;
    font-size: 20px;
  }

  .about-stacks-container {
    margin: 20px 0 50px;
  }

  .about-stacks-container img, .about-links-container img {
    width: 40px;
  }
}