.slick-slider {
  margin-bottom: 30px;
}

.slick-slide > div {
  margin: 20px;
}

.slick-list {
  margin: -20px;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 300px;
  justify-content: space-around;
  background-color: lavender;
  text-decoration: none;
  border-radius: 10px;
}

.carousel-card:hover {
  animation: blink 0.7s infinite alternate;
}

.carousel-image {
  width: 150px;
  object-fit: cover;
}

.carousel-title {
  font-family: Poppins, sans-serif;
  color: black;
  font-size: 15px;
  text-align: center;
  margin: 0 5px 10px;
}

@keyframes blink {
  100% {
    box-shadow: 0 0 4px rgb(255,150,215), 0 0 10px rgb(112,13,74), 0 0 20px rgb(45,13,112), 0 0 30px rgb(58,159,255);
  }
}