.header-container {
  width: 100%;
  background-color: black;
  color: white;
  font-family: Poppins, sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 3px 10px rgb(70, 70, 70);
  width: 100%;
  z-index: 4;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-list, .mobile-menu {
  display: flex;
  align-items: center;
}

.mobile-menu {
  margin-right: 50px;
}

.nav-list ul, .mobile-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
  cursor: pointer;
}

.mobile-menu-icon {
  display: none;
}

@media screen and ( max-width : 730px ) {
  .header-container {
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
  }

  .nav-bar {
    padding: 1.5rem 4rem;
    background-color: black;
  }

  .nav-item {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
  }

  .menu-icon {
    width: 30px;
  }

  .mobile-menu {
    margin-right: 0;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 0;
    padding-bottom: 1rem;
    width: 100%;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }
}