.projects-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  font-family: Poppins, sans-serif;
  color: white;
  margin: 30px 0;
}

.carousel-container {
  width: 80%;
  margin: 0 auto;
}

@media screen and ( min-width : 800px ) {
  .projects-title {
    font-size: 35px;
  }
}

@media screen and ( min-width : 1080px ) {
  .projects-title {
    font-size: 40px;
  }
}